main article:not(:last-of-type) {
  border-bottom: 1.2px solid #4a5568;
}

article h1 {
  line-height: 48px;
  margin-top: 0.8em;
  font-size: 40px;
  letter-spacing: 0;
  font-style: normal;
}

article h2 {
  margin-top: 1.7em;
  font-size: 26px;
  line-height: 32px;
  font-weight: 600;
}

article p {
  margin-top: 2em;
  font-size: 21px;
  line-height: 32px;
}

article pre {
  margin-top: 2em;
  padding: 4px;
}
